    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    .header {
        min-height: 800px;
        background: url("../img/TOP_BG.png") center center/cover no-repeat;
    }
    
    .container_top {
        max-width: 634px;
        margin: 0 auto;
    }
    
    .menu_list {
        padding-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    
    .menu_item {
        flex-wrap: wrap;
        color: #4d4959;
        font-size: 13px;
        text-transform: uppercase;
    }
    
    .about {
        padding: 117px 0 145px 0;
        display: flex;
        justify-content: center;
    }
    
    .container_about {
        max-width: 1080px;
    }
    
    .about_icon {
        display: block;
        margin: 0 auto;
    }
    
    .about_title {
        margin-top: 34px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: #353738;
    }
    
    .about_descr {
        margin-top: 35px;
        text-align: center;
        font-size: 18px;
        line-height: 34px;
        color: #848789;
    }
    
    .work {
        background: #fff;
        overflow: hidden;
    }
    
    .bike1 {
        display: grid;
        grid-template-columns: [logo]70% [txt]30%;
        min-height: 600px;
    }
    
    .bike1_image {
        grid-column: logo;
        background-image: url('../img/bike_one_left_bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .bike1_logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .bike1_text {
        grid-column: txt;
        background-image: url('../img/bike1_text_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .bike_icon {
        display: block;
        margin: 0 auto;
        margin-top: 71px;
    }
    
    .bike_title {
        margin-top: 31px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .bike_descr {
        margin-top: 26px;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        padding: 0 10%;
        text-align: left;
    }
    
    hr {
        border: none;
        height: 1px;
        width: 50px;
        background-color: #d7d7d7;
        margin: 50px auto 60px auto;
    }
    
    .bike2 {
        display: grid;
        grid-template-columns: [txt] 30% [logo] 70%;
        min-height: 600px;
    }
    
    .bike2_text {
        grid-column: txt;
        background-image: url('../img/bike2_left_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .bike2_image {
        grid-column: logo;
        background-image: url('../img/bike2_bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .bike2_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .bike3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 600px;
    }
    
    .bike3_image1 {
        background-image: url('../img/bike3_left_bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .bike3_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .bike3_right_img {
        width: 100%;
        height: 100%;
    }
    
    .bike3_text {
        background-image: url('../img/bike3_mid_img.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .twitter {
        padding: 124px 0 180px 0;
        background-image: url('../img/twitter_bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .twitter_icon {
        display: block;
        margin: 0 auto;
    }
    
    .twitter_nick {
        margin-top: 35px;
        text-align: center;
    }
    
    .twitter_text {
        margin-top: 30px;
        text-align: center;
    }
    
    .shop {
        height: 540px;
        font-size: 0;
        overflow: hidden;
        background: #fff;
    }
    
    .shop_list {
        width: 33.333%;
        display: inline-block;
        vertical-align: top;
    }
    
    .img_container_small,
    .img_container_medium,
    .img_container_large {
        width: 50%;
        height: 270px;
        display: inline-block;
        position: relative;
        background-size: cover;
        background-position: center;
    }
    
    .img_container_small::before,
    .img_container_medium::before,
    .img_container_large::before {
        content: ' ';
        width: 100%;
        height: 270px;
        display: inline-block;
        transition: all 0.5s 0s;
    }
    
    .img_container_small:hover::before,
    .img_container_medium:hover::before,
    .img_container_large:hover::before {
        background-color: rgba(88, 165, 137, 0.8);
        cursor: pointer;
    }
    
    .img_container_small:hover img,
    .img_container_medium:hover img,
    .img_container_large:hover img {
        opacity: 1;
    }
    
    .img_container_small img,
    .img_container_medium img,
    .img_container_large img {
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transition: all 0.7s 0s;
        cursor: pointer;
    }
    
    .img_container_medium {
        width: 100%;
    }
    
    .img_container_large {
        width: 50%;
        height: 540px;
    }
    
    .img_container_large::before {
        height: 540px;
    }
    
    .discover {
        padding: 75px 0;
        background-color: #282f35;
        text-align: center;
    }
    
    .discover_shop {
        display: inline-block;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
        border: 1px solid #fff;
        padding: 16px 80px;
    }
    
    .mailing {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    
    .mailing_logo {
        display: block;
        margin: 0 auto;
    }
    
    .mailing_claim {
        text-align: center;
        padding-top: 39px;
    }
    
    .mailing_input {
        display: flex;
        justify-content: center;
        padding-top: 39px;
    }
    
    .mailing_input_text {
        padding-top: 23px;
        padding-bottom: 23px;
        width: 400px;
        height: 69px;
    }
    
    .mailing_input_text::placeholder {
        padding-left: 26px;
    }
    
    .mailing_btn {
        padding-right: 46px;
        padding-left: 46px;
        margin-left: 8px;
        background-color: #64c29e;
        border: none;
        color: #fff;
    }
    
    .footer {
        display: grid;
        grid-template-columns: [footleft]1fr [footmid]1fr [footright]1fr;
        padding-top: 99px;
        padding-bottom: 105px;
        background-color: #f7f7f7;
    }
    
    .footer_left {
        grid-column: footleft;
    }
    
    .brand {
        margin-left: 249px;
    }
    
    .street {
        margin-left: 249px;
    }
    
    .city {
        margin-left: 249px;
    }
    
    .footer_mid {
        grid-column: footmid;
        display: flex;
        justify-content: center;
    }
    
    .footer_img1 {
        margin-right: 15px;
    }
    
    .footer_img2 {
        margin-right: 15px;
    }
    
    .footer_right {
        grid-column: footright;
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    .footer_right_text {
        margin-right: 10px;
    }
